gba/lib
gba/release
include/libfatversion.h
libogc2/cube_release
libogc2/lib
libogc2/wii_release
libogc-rice/cube_release
libogc-rice/lib
libogc-rice/wii_release
nds/lib
nds/release
distribute
gba/include
libogc2/include
libogc-rice/include
nds/include
