gba/lib
gba/release
include/libfatversion.h
libogc2/gamecube
libogc2/gamecube_release
libogc2/wii
libogc2/wii_release
libogc-rice/cube_release
libogc-rice/lib
libogc-rice/wii_release
nds/lib
nds/release
gp2x/lib
gp2x/release
distribute
gba/include
libogc-rice/include
nds/include
gp2x/include